@charset "utf-8";
*{
	margin:0;
	padding:0;
}
.beijing {
	position:absolute;
	width:100vw;
	height:100vh;
	background: url(images/beijing.jpg) no-repeat 10px center;
	background-size: 100% 100%;
}
.index_title {
	margin-top:30vh;
}
.index_go {
	text-align: center;
}
p{
	position:absolute;
	font-size:100px;
	width: 50vw;
	margin-left: -14vw;
	left: 50%;
}
a{
	position:fixed;
	font-size:100px;
	left:43vw;
	top:65vh;
	text-decoration:none;
	color:plum;
}
a:hover {
	font-size:120px;
	color:aquamarine;
}

